<%= tag.div(class: 'homepage-section__wrapper', data: {
  controller: 'container-expand',
  'target': 'container-expand.wrapper',
  action: 'click->container-expand#toggleContent'
}) do %>
  <div class="homepage-section__container">
    <h1><%= title %></h1>

    <div class="homepage-section__content" data-target="container-expand.content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos mollitia temporibus magni minus omnis neque laudantium. Adipisci aspernatur amet vel dolor itaque fuga harum in, veniam architecto, corrupti odio magnam, eos non optio quis. Ab vitae aut neque veniam, tempore aspernatur quibusdam inventore repudiandae? Praesentium officiis minus eum cupiditate magnam distinctio, ipsam dolores expedita provident repellendus veritatis earum consectetur et vel maxime eveniet cum necessitatibus ratione corrupti autem exercitationem aperiam sint molestias. Possimus tenetur tempore aut culpa repellat nihil quaerat quas cumque ea minima. Modi quidem, molestiae quis, eligendi quae odio nesciunt assumenda, voluptatum quibusdam enim corporis cupiditate provident natus facilis? Repudiandae aut minus eveniet sequi, architecto ullam, quo voluptatum enim fuga facilis quibusdam consequuntur aliquid blanditiis perspiciatis. Aliquid, unde quos architecto voluptatibus ullam nihil et itaque tempora cumque debitis suscipit dolorum. Animi praesentium doloremque quisquam molestiae dolorum porro. Voluptas labore distinctio molestiae praesentium facere, illum a provident, ea nostrum sunt eius repellat deleniti iure iste dolor natus. Totam, iste omnis. Aut laborum ullam facere necessitatibus ipsum reprehenderit pariatur eos iure, dolorum ab asperiores dolore quam quisquam, quaerat voluptas! Officiis delectus ipsam vitae. Ea aspernatur, cum hic rerum quaerat dolor ducimus dolorem perspiciatis quam, quisquam tenetur pariatur accusamus eius vitae!
    </div>
  </div>
<% end %>
