<nav class="main_nav_bar">
  <ul class="main_nav | w-100 d-flex align-items-center justify-content-center py-md-3 px-0 m-0">
    <%= link_to '/', class: "main_nav-link px-md-5 py-md-2 text-uppercase text-center" do %>
      Home
    <% end %>
    <%= link_to '/about', class: "main_nav-link px-md-5 py-md-2 text-uppercase text-center" do %>
      About Us
    <% end %>
  </ul>
</nav>
