.homepage-section {
  &__wrapper {
    margin-bottom: 3rem;
    padding: 1rem 1.5rem;
    border-top: 2px solid rgba(255, 255, 255, .5);
    // border-radius: 1rem;

    h1 { color: rgba(255, 255, 255, .5); }

    &:hover {
      border-top: 2px solid rgba(255, 255, 255, 1);
      box-shadow: 0 0 20px rgba(255, 255, 255, .8);
      cursor: pointer;

      h1 {
        color: rgba(255, 255, 255, .8);
      }
    }

    &.expanded {
      border-top: 2px solid rgba(255, 255, 255, 1);
      box-shadow: 0 0 20px rgba(255, 255, 255, .8);

      h1 { color: rgba(255, 255, 255, .8); }
    }
  }
  &__container {
    i {
      color: white;
      top: 0;
      right: 0;
      transition: all .2s ease-in-out;

      &.open {
        transform: rotate(180deg);
      }
    }
  }
  &__content {
    color: rgba(255, 255, 255, .8);
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;

    &.expanded { max-height: 500px; }
  }
}